.navbar.navbar-light.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | Survival of the Best Fit

    .collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='https://www.digitalrightsforordinarypeople.org/') 普通人的数字权利
        li.nav-item
          a.nav-link(href='https://www.survivalofthebestfit.com/') 游戏原始官网
