// Footer
footer.footer
	.container
		.row
			.col-xs-12.my-2.text-center.mx-auto
				p 
					| &amp;copy 2019 Copyright.
					a.ml-2(href="https://survivalofthebestfit.com") Survival of the Best Fit

script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='./vendor/jquery-easing/jquery.easing.min.js')
script(src='scripts-website.min.js')
