mixin stats(title)
    div.StatisticsCard&amp;attributes(attributes)
        div.FlexContainer
            div.HiredMakeup
                p.stats-category__name 已录用橙色/蓝色构成
                div.stats-category__skillbar
                    div.stats-category__progress
            div.RejectedMakeup
                p.stats-category__name 已拒绝橙色/蓝色构成
                div.stats-category__skillbar
                    div.stats-category__progress
            
        div.FlexContainer
            div.AverageOrange
                p.stats-category__name 橙色人员平均表现
                div.stats-category__skillbar
                    div.stats-category__progress
            div.AverageBlue
                p.stats-category__name 蓝色人员平均表现
                div.stats-category__skillbar
                    div.stats-category__progress
