include ../../ui-overlay/ui-overlay.pug
include ../../../universal/button/button
+overlay()(id="TrainingOverlay" class="transparent-overlay")
  div(class="ProgressBox")
    p 招聘算法
    div(class="ProgressBar")
      div(class="ProgressBar__base")
      div(class="ProgressBar__progress")
    p(class="ProgressBox__text")
  div(class="js-email email is-inactive")
    div(class="email__head")
      p From: software-engineer@bestfit.com
      p 主题：招聘算法已就绪！
    p(class="email__paragraph")
      span 我们的算法已经训练完成。你的工作现在已自动化，好好享受吧！
    div(class="email__response")
      +button('太棒了。')(class="js-training-stage-btn responseButton")
    
